# Nikita Chandra Lazarus

## Is a spectator more likely to commit a crime if the team (wins/loses) or are they more susceptible to disorderly conduct for marginal results (OT)? (emotional influence) 

The team would like to conduct a research on whether spectators are more affected by the winning or losing of their team or are the speactators more influenced by other spectators' emotional state.

In [ ]:
import numpy as np
import pandas as pd

pd.read_csv('/Users/nikitachandralzrs/Desktop/301/project-group03/data/raw/arrests.csv', sep= ",")

,season,week_num,day_of_week,gametime_local,home_team,away_team,home_score,away_score,OT_flag,arrests,division_game
0,2011,1,Sunday,1:15:00 PM,Arizona,Carolina,28,21,NaN,5.0,n
1,2011,4,Sunday,1:05:00 PM,Arizona,New York Giants,27,31,NaN,6.0,n
2,2011,7,Sunday,1:05:00 PM,Arizona,Pittsburgh,20,32,NaN,9.0,n
3,2011,9,Sunday,2:15:00 PM,Arizona,St. Louis,19,13,OT,6.0,y
4,2011,13,Sunday,2:15:00 PM,Arizona,Dallas,19,13,OT,3.0,n
...,...,...,...,...,...,...,...,...,...,...,...
1001,2015,7,Sunday,1:00:00 PM,Washington,Tampa Bay,31,30,NaN,2.0,n
1002,2015,10,Sunday,1:00:00 PM,Washington,New Orleans,47,14,NaN,2.0,n
1003,2015,12,Sunday,1:00:00 PM,Washington,New York Giants,20,14,NaN,2.0,y
1004,2015,13,Monday,8:30:00 PM,Washington,Dallas,16,19,NaN,4.0,y
1005,2015,15,Sunday,1:00:00 PM,Washington,Buffalo,35,25,NaN,1.0,n

In [ ]:
pwd

'/Users/nikitachandralzrs/Desktop/301/project-group03/notebooks'

In [ ]:
import pandas as pd

In [ ]:
rawarrest = pd.read_csv('/Users/nikitachandralzrs/Desktop/301/project-group03/data/raw/arrests.csv', sep= ",")
rawarrest
rawarrest.columns

Index(['season', 'week_num', 'day_of_week', 'gametime_local', 'home_team',
       'away_team', 'home_score', 'away_score', 'OT_flag', 'arrests',
       'division_game'],
      dtype='object')

In [ ]:
rawarrest.head()

,season,week_num,day_of_week,gametime_local,home_team,away_team,home_score,away_score,OT_flag,arrests,division_game
0,2011,1,Sunday,1:15:00 PM,Arizona,Carolina,28,21,NaN,5.0,n
1,2011,4,Sunday,1:05:00 PM,Arizona,New York Giants,27,31,NaN,6.0,n
2,2011,7,Sunday,1:05:00 PM,Arizona,Pittsburgh,20,32,NaN,9.0,n
3,2011,9,Sunday,2:15:00 PM,Arizona,St. Louis,19,13,OT,6.0,y
4,2011,13,Sunday,2:15:00 PM,Arizona,Dallas,19,13,OT,3.0,n

In [ ]:
rawarrest.tail()

,season,week_num,day_of_week,gametime_local,home_team,away_team,home_score,away_score,OT_flag,arrests,division_game
1001,2015,7,Sunday,1:00:00 PM,Washington,Tampa Bay,31,30,NaN,2.0,n
1002,2015,10,Sunday,1:00:00 PM,Washington,New Orleans,47,14,NaN,2.0,n
1003,2015,12,Sunday,1:00:00 PM,Washington,New York Giants,20,14,NaN,2.0,y
1004,2015,13,Monday,8:30:00 PM,Washington,Dallas,16,19,NaN,4.0,y
1005,2015,15,Sunday,1:00:00 PM,Washington,Buffalo,35,25,NaN,1.0,n

In [ ]:
print(rawarrest.shape)
print(rawarrest.head())
print(rawarrest.columns)

(1006, 11)
   season  week_num day_of_week gametime_local home_team        away_team  \
0    2011         1      Sunday     1:15:00 PM   Arizona         Carolina
1    2011         4      Sunday     1:05:00 PM   Arizona  New York Giants
2    2011         7      Sunday     1:05:00 PM   Arizona       Pittsburgh
3    2011         9      Sunday     2:15:00 PM   Arizona        St. Louis
4    2011        13      Sunday     2:15:00 PM   Arizona           Dallas

   home_score  away_score OT_flag  arrests division_game
0          28          21     NaN      5.0             n
1          27          31     NaN      6.0             n
2          20          32     NaN      9.0             n
3          19          13      OT      6.0             y
4          19          13      OT      3.0             n
Index(['season', 'week_num', 'day_of_week', 'gametime_local', 'home_team',
       'away_team', 'home_score', 'away_score', 'OT_flag', 'arrests',
       'division_game'],
      dtype='object')

In [ ]:
rawarrest.nunique(axis=0)
#rawarrest.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

season             5
week_num          17
day_of_week        5
gametime_local    46
home_team         26
away_team         32
home_score        54
away_score        46
OT_flag            1
arrests           51
division_game      2
dtype: int64

In [ ]:
rawarrest.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

            season     week_num   home_score   away_score     arrests
count  1006.000000  1006.000000  1006.000000  1006.000000  966.000000
mean   2013.000000     9.116302    23.934394    21.115308    6.566253
std       1.406453     5.008986    10.442626     9.734006    9.512101
min    2011.000000     1.000000     0.000000     0.000000    0.000000
25%    2012.000000     5.000000    17.000000    14.000000    1.000000
50%    2013.000000     9.000000    23.000000    20.000000    3.000000
75%    2014.000000    14.000000    30.000000    27.000000    8.000000
max    2015.000000    17.000000    59.000000    56.000000   69.000000

In [ ]:
#new_cols = [col for col in dta.columns if 'E' in col] 

rawarrest_new = rawarrest.filter(regex='E|N')

In [ ]:
corr = rawarrest_new.corr()
print(corr)

Empty DataFrame
Columns: []
Index: []

In [ ]:
loaddf = (pd.read_csv('/Users/nikitachandralzrs/Desktop/301/project-group03/data/raw/arrests.csv', sep= ",")
    .copy().drop(['home_team', 'away_team', 'home_score', 'away_score', 'OT_flag', 'division_game'],axis=1))
loaddf.sort_values(by=['season', 'day_of_week'],inplace=True)
loaddf.rename(columns={'day_of_week':'Day of Week','week_num':'Week Number','gametime_local': 'Gametime Local', 
                        'arrests':'Arrests', 'season':'Season'},inplace = True)
loaddf.head()

     Season  Week Number Day of Week Gametime Local  Arrests
183    2011            3      Monday     7:30:00 PM      1.0
223    2011            1      Monday     8:15:00 PM      2.0
264    2011            5      Monday     8:30:00 PM      NaN
306    2011           10      Monday     7:30:00 PM      6.0
426    2011            7      Monday     8:30:00 PM      3.0

In [ ]:
finaldf = loaddf
finaldf['Arrests'] = finaldf['Arrests'].fillna(0)
finaldf.head()

     Season  Week Number Day of Week Gametime Local  Arrests
183    2011            3      Monday     7:30:00 PM      1.0
223    2011            1      Monday     8:15:00 PM      2.0
264    2011            5      Monday     8:30:00 PM      0.0
306    2011           10      Monday     7:30:00 PM      6.0
426    2011            7      Monday     8:30:00 PM      3.0